rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /publicQuizzes/list {
    	allow read: if true;
    }

    match /events/{documents=**} {
    	allow write: if true;
    }
    
    match /stats/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    match /quizzes/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
    
    match /results/{documents=**} {
      allow read, write: if request.auth != null;
    }
  }
}