body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  margin: 0px;
  text-align: center;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rootColumn {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

button {
  min-height: 52px;
  font-size: 150%;
  width: 500px;
  max-width: calc(100% - 16px);
  flex: 0 0 auto;
  background: none;

  border: 4px solid #000000;
  margin: 4px;
  padding: 0;

  font-weight: 500;
  color: #000000;
  text-align: center;
}

button:hover {
  color: #ffffff;
  background-color: #000000;
}

button:active {
  background-color: #555555;
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.editor-input {
  min-height: 52px;
  font-size: 150%;
  width: 500px;
  max-width: calc(100% - 16px);
  border: 4px solid #000000;
  margin: 4px;
  padding: 0;
  font-weight: 500;
  color: #000000;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.editor-input:hover {
  color: #ffffff;
  background-color: #000000;
}

input[type="file"] {
  display: none;
}

.question-input {
  width: 500px;
  max-width: calc(100% - 16px);
  border: 4px solid #000000;
  margin: 4px;
  padding: 4px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  flex: 0 0 auto;
}

h1 {
  width: 500px;
  max-width: calc(100% - 16px);
  font-size: 150%;
  margin: 4px;
}

h2 {
  width: 500px;
  max-width: calc(100% - 16px);
  font-size: 100%;
}

.progresscontainer {
  margin: 0px 4px;
  position: relative;
  height: 42px;
  border: 3px solid #000000;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressbar {
  background: #00000099;
  border-radius: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.choiceContainer {
  width: 484px;
  max-width: calc(100% - 32px);
  margin: 3px;
  padding: 2px 8px;
  border-radius: 4px;
  background: #bbbbbb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choice {
  width: 100%;
  display: flex;
  align-items: center;
}

.choice button {
  width: 32px;
  height: 32px;
  min-height: 32px;
  font-size: 100%;
  font-weight: 900;
  border: 3px solid #000000;
  border-radius: 2px;
}

.choice span {
  flex: 1;
  font-size: 120%;
}

table {
  width: 500px;
  max-width: calc(100% - 16px);
  margin: 8px 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 4px solid black;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
}

th {
  padding: 8px;
}

.sliderContainer {
  position: relative;
  width: calc(100% - 16px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sliderValue {
  flex: 0;
  text-align: center;
}
