body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  margin: 0px;
  text-align: center;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rootColumn {
  height: calc(100% - 70px);
  width: calc(100% - 12px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  padding: 6px;
  padding-bottom: 64px;
}

.fullwidth-button {
  min-height: 52px;
  font-size: 150%;
  width: calc(500px - 6px);
  max-width: calc(100% - 6px);
  flex: 0 0 auto;
  background: none;

  border: 3px solid #000000;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0px;

  font-weight: 500;
  color: #000000;
  text-align: center;

  box-sizing: content-box;
}

.fullwidth-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.fullwidth-button:active {
  background-color: #555555;
}

.fullwidth-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.editor-input {
  min-height: 52px;
  font-size: 150%;
  width: calc(500px - 6px);
  max-width: calc(100% - 6px);

  border: 3px solid #000000;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0px;

  font-weight: 500;
  color: #000000;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.editor-input:hover {
  color: #ffffff;
  background-color: #000000;
}

input[type="file"] {
  display: none;
}

.question-input {
  position: relative;

  width: calc(500px - 14px);
  max-width: calc(100% - 14px);

  border: 3px solid #000000;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 4px;

  display: flex;
  flex-direction: column;

  flex: 0 0 auto;
}

h1 {
  width: 500px;
  max-width: calc(100% - 16px);
  font-size: 150%;
  margin: 4px;
}

h2 {
  width: 500px;
  max-width: calc(100% - 16px);
  font-size: 100%;
}

.progressbar {
  background: #00000099;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.choiceContainer {
  width: 484px;
  max-width: calc(100% - 12px);
  margin: 3px;
  padding: 6px;
  padding-bottom: 2px;
  padding-top: 4px;
  background: #bbbbbb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choice {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

/* 
.choice button {
  width: 32px;
  height: 32px;
  min-height: 32px;
  font-size: 100%;
  font-weight: 900;
  border: 3px solid #000000;
  border-radius: 2px;
} */

.choiceText {
  height: calc(100% - 8px);
  flex: 1 0 0px;

  padding: 4px;
  font-size: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 500px;
  max-width: calc(100% - 16px);
  margin: 8px 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 4px solid black;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
}

th {
  padding: 8px;
}

.sliderContainer {
  position: relative;
  width: calc(100% - 16px);
  display: flex;
  justify-content: center;
}

.sliderValue {
  flex: 0 0 80px;
  height: 100%;

  text-align: right;
  font-size: 120%;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quiz-header {
  width: 500px;
  max-width: 100%;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz-header button {
  padding: 8px;
  font-size: 100%;
  border: 2px solid black;
  background: none;
}

.quiz-progress {
  position: relative;
  width: 500px;
  max-width: calc(100% - 4px);

  margin: 0px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0px;
  border: 2px solid #000000;
  height: 32px;

  flex: 0 0 auto;
}

.quiz-progress span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quiz-progress div {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #00000066;
  height: 100%;
}

.quiz-header h1 {
  text-align: left;
}

.share-link {
  font-size: 150%;
  margin-bottom: 16px;
}
